<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" />
    <title>{% block page_title %}{% endblock page_title %} | Lakeflix</title>
</head>

<body class="text-gray-800 mt-24 font-light">
    {% if user.is_authenticated %}
    {% include "partials/nav.html" %}
    {% else %}
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item disabled">
                    <a class="nav-link" href="/">홈</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'users:login' %}">로그인</a>
                </li>
            </ul>
        </form>
    {% endif %}
    {% block content %}
    {% endblock %}
    {% include "partials/footer.html" %}
</body>

</html>