{% extends "base.html" %}
{% block page_title %}
로그인 페이지 입니당
{% endblock page_title %}
{% block content %}
<!-- <div>
    <h2>로그인</h2>
    <form class="form-area" method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        <div>
            <label for="username">이름</label>
            <input type="text" id="username" name="username" />
        </div>
        <div>
            <label for="password">비밀번호</label>
            <input type="password" id="password" name="password" />
        </div>
        <hr />
        <div>
            <button type="submit">로그인</button>
            <a href="{% url 'users:signup' %}" class="btn btn-secondary">회원가입 페이지로</a>
        </div>
    </form>
</div> -->
<!-- 폼테스트중 -->

<div>
    <h2>로그인</h2>
    <form class="form-area" method="post" action="{% url 'users:login' %}">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">로그인</button>
    </form>
</div>

{% endblock content %}